
<div class="createdevents">
  <h3>Events I Created</h3>
  <%= link_to "Create New Event" , new_event_path %>
  <% @created_events.each do |event| %>
    <%= render :partial => 'event', :object => event %> 
  <% end %>
</div> 

<div class="myevents">
  <h3>Events I'm attending</h3>
    <% @events.each do |event| %>
      <%= render :partial => 'event', :object => event %> 
    <% end %>
</div>
