<!-- # this is the styles page -->

<h1>This is an h1</h1>

<h2>This is an h2</h2>

<h3>This is an h3</h3>

<h4>This is an h4</h4>
<div class="cf">
  <p class="sample-p left">
    This is just a plain paragraph with some
    basic default styling applied. Things like
    line-height and font-size. Hey look,
    it's a <a href="https://squareup.com">link to somewhere</a>.
    And now here's one with an <a href="https://sqaureup.com/" class="right-arrow">arrow after it.</a>
  </p>
</div>

<ul>
  <li>This is</li>
  <li>an unordered</li>
  <li>list</li>
</ul>

<ol>
  <li>This list is ordered</li>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
</ol>
